.navContainer {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 30px;
}

.navLink {
  padding: 20px;
  text-decoration: none;
}

.subNav > button {
  font-size: 15px;
  width: 90px;
  border: none;
  background-color: transparent;
  padding: 15px;
  vertical-align: baseline;
  cursor: pointer;
}
